streamlit==1.46.1
python-dotenv==1.1.1
requests==2.32.4
qrcode==8.2
pillow==11.3.0
pytz==2025.2
letter==0.5
reportlab==4.4.2
#osfio-export-tool==0.1.1

#python -m pip install --index-url https://test.pypi.org/simple/ --extra-index-url https://pypi.org/simple osfio-export-tool==0.1.1